<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>
<% if user_signed_in? %>
<%= link_to "Новий файл", new_resume_path, class: "btn btn-primary" %>
<% end %>
</br> </br>
<table class = "table table-bordered table-striped">
   <thead>
      <tr class="bg-info">
         <th>Назва</th>
         <th>Переглянути чи скачати</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @resumes.each do |resume| %>
         
         <tr>
            <td><%= resume.name %></td>
            <td><%= link_to "Відкрити файл", resume.attachment_url %></td>
            <% if user_signed_in? %>
            <td><%= button_to "Delete",  resume, method: :delete, class: "btn btn-danger", confirm: "Точно видалити #{resume.name}?" %></td>
         </tr>
         <% end %>
      <% end %>
   </tbody>
</table>
</div>
